body
{
    margin: 0;
    padding: 20px;
}

div.food
{
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    width: 250px;
    text-align: center;
}

label
{
    display: block;
}

input
{
    margin: 10px 10px;
}

#submit
{
    display:block;
}
